#projects-page {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

#projects-container {
  margin: auto;
  width: 65vw;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: auto;
  width: 30vw;
  height: 30vh;
}

h1 {
  margin: 0 auto;
  font-size: 4em;
  color: white;
}

.projects-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  color: white;
}
