#projects-page {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

#projects-container {
  margin: auto;
  width: 65vw;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  display: flex;
  position: relative;
  margin: auto;
  width: 30vw;
  height: 30vh;
}

img {
  position: absolute;
  width: 30vw;
  height: 30vh;
}

.hover-data {
  width: 30vw;
  height: 30vh;
  background-color: rgb(17 24 39);
  opacity: 0;
  display: grid;
  place-items: center;
  margin: auto;
}
.hover-data:hover {
  opacity: 0.9;
  z-index: 10;
  position: absolute;
}

.title {
  line-height: 1.625;
  font-size: 1.5rem; /* 14px */
  color: rgb(74 222 128);
}

.description {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 4em;
  color: white;
}

.projects-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  color: white;
}
